.Button {
    cursor: pointer;
}

.clear {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}